{% extends 'layout/intern.twig' %}


{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {# Intro #}
    <p class="has-margin-bottom-small">
        {{ help|raw }}
    </p>
    <p class="has-margin-bottom-small">
        {{ help_hint|raw }}
    </p>
    <p class="has-margin-bottom-large">
        {{ help_advice|raw }}
    </p>

    {# Button line #}
    {% include 'components/index_page_button_line.twig' with ({
        '_usage': _usage|merge({'label': ftp_users}),
        '_buttons': [
            forms.button({
                'label': add_ftp,
                'style': 'primary',
                'url': '?page=' ~ _app.page ~ '&action=add'
            })
        ],
        '_bulk_actions': {
            'delete': delete_selection
        },
        '_form_id': 'form-ftp-index'
    }) %}

    {# Viewing options #}
    {% include 'components/viewing_options.twig' with ({
        '_search_options': _search_options,
    }) %}

    {# Item table #}
    <div class="card">
        <div class="card-content">
            {% if _ftp_items is empty %}
                <div class="has-text-centered has-text-grey">
                    - {{ no_items_available }} -
                </div>
            {% else %}
                {% include 'components/table_scroll_container.twig' %}
                <form id="form-ftp-index" action="?page={{ _app.page }}" method="post">
                    {{ csrf_field() }}

                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                            <thead>
                                <tr>
                                    {{ macros.header_checkbox() }}

                                    <th {{ macros.header_sorting('status') }} class="is-narrow">
                                        S
                                    </th>
                                    <th {{ macros.header_sorting('username') }}>
                                        {{ username }}
                                    </th>
                                    <th {{ macros.header_sorting('home_directory') }}>
                                        {{ home_directory }}
                                    </th>
                                    <th class="is-narrow">
                                        {{ connection_data }}
                                    </th>
                                    <th class="is-narrow">
                                        {{ actions }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in _ftp_items %}
                                    <tr>
                                        {{ macros.row_checkbox(item.id) }}

                                        <td class="has-padding-x-xsmall">
                                            {% include 'components/icon.twig' with { '_type': item.status } %}
                                        </td>
                                        <td>
                                            {{ item.username }}
                                            {% if item.description %}
                                                <p class="has-text-grey has-margin-top-xsmall">
                                                    {{ item.description }}
                                                </p>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if _has_file_manager %}
                                                {% include 'components/icon.twig' with {
                                                    '_type': 'file_manager',
                                                    '_url': '?page=client_file_manager&change_dir=' ~ item.home_directory|url_encode()
                                                } %}
                                            {% endif %}

                                            {{ item.home_directory }}
                                        </td>
                                        <td>
                                            <a data-open-modal="app-modal-connection-data-{{ item.id }}">
                                                {{ show }}
                                            </a>
                                        </td>
                                        <td class="is-narrow">
                                            {% include 'components/icon.twig' with {
                                                '_type': 'edit',
                                                '_url': '?page=' ~ _app.page ~ '&action=edit&id=' ~ item.id
                                            } %}

                                            {% include 'components/icon.twig' with {
                                                '_type': 'delete',
                                                '_url': '?page=' ~ _app.page ~ '&action=delete&id=' ~ item.id
                                            } %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="42">
                                        {{ _ftp_items|length|i18n_format }} {{ items_total }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

{#######################################################################################################################
    Modals
#######################################################################################################################}

    {# Connection data #}
    {% for item in _ftp_items %}
        {% include 'components/modal/connection_data_ftp.twig' with {
            '_id': item.id,
            '_ftp_server': _ftp_server,
            '_username': item.username,
        } %}
    {% endfor %}

{% endblock %}