{% extends 'layout/intern.twig' %}


{% block content %}
    {% import "macros/macros.twig" as macros %}
    {% import "macros/forms.twig" as forms %}

    {# Intro #}
    <p class="has-margin-bottom-large">
        {{ help|raw }}
    </p>

    {# Button line #}
    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <strong>
                    {{ check_for_prohibited_domains }}:
                </strong>
            </div>
            <div class="level-item">
                {{ forms.button({
                    'label': _check_prohibited_domains ? enabled : disabled,
                    'style': _check_prohibited_domains ? 'primary' : 'grey',
                    'url': '?page=' ~ _app.page ~ '&action=toggle_check'
                }) }}
            </div>
        </div>
    </div>

    {# Button line #}
    {% include 'components/index_page_button_line.twig' with ({
        '_buttons': [
            forms.button({
                'label': add_domain,
                'style': 'primary',
                'url': '?page=' ~ _app.page ~ '&action=add'
            })
        ],
        '_bulk_actions': {
            'delete': delete_selection
        },
        '_form_id': 'form-prohibited-domains'
    }) %}

    {# Item table #}
    <div class="card">
        <div class="card-content">
            {% if _prohibited_domains is empty %}
                <div class="has-text-centered has-text-grey">
                    - {{ no_items_available }} -
                </div>
            {% else %}
                {% include 'components/table_scroll_container.twig' %}
                <form id="form-prohibited-domains" action="?page={{ _app.page }}" method="post">
                    {{ csrf_field() }}

                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable has-valigned-cells">
                            <thead>
                                <tr>
                                    {{ macros.header_checkbox() }}

                                    <th {{ macros.header_sorting('name') }}>
                                        {{ domain_name }}
                                    </th>
                                    <th class="is-narrow">
                                        {{ actions }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in _prohibited_domains %}
                                    <tr>
                                        {{ macros.row_checkbox(item.id) }}

                                        <td>
                                            {{ item.name }}
                                        </td>
                                        <td class="is-narrow">
                                            {% include 'components/icon.twig' with {
                                                '_type': 'edit',
                                                '_url': '?page=' ~ _app.page ~ '&action=edit&id=' ~ item.id
                                            } %}

                                            {% include 'components/icon.twig' with {
                                                '_type': 'delete',
                                                '_url': '?page=' ~ _app.page ~ '&action=delete&id=' ~ item.id
                                            } %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="42">
                                        {{ _prohibited_domains|length|i18n_format }} {{ items }} / {{ _items_total|i18n_format }} {{ items_total }}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>

    {# Pagination #}
    {% include 'components/pagination.twig' with { 'params': _pagination } %}

{% endblock %}