<div class="card has-margin-bottom-medium">
    <div class="card-content">
        <ul class="horizontal-separated-list">
            <li>
                <a href="?page={{ _app.page }}&path=/">
                    <span class="icon is-medium">
                        <i class="fa-solid fa-house"></i>
                    </span>
                </a>
            </li>
            {% for item in _breadcrumbs %}
                <li>
                    {% if loop.last %}
                        {{ item.label }}
                    {% else %}
                        <a href="?page={{ _app.page }}&change_dir={{ item.change_dir|url_encode() }}">
                            {{ item.label }}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>