{% extends 'layout/base.twig' %}


{% block body_content %}
<header id="header">
    <nav id="top-nav">
        <div class="level is-mobile">
            <div class="level-left">
                <a class="level-item" href="{{ _app.home_url }}">
                    {% if _white_label.logo_intern_url %}
                        <img src="{{ _white_label.logo_intern_url }}?{{ _globals.cache_control }}" alt="logo">
                    {% else %}
                        <figure>
                            <img src="theme/bulma/assets/img/dark/keyhelp{{ _app.is_pro ? '-pro' }}.svg?{{ _globals.cache_control }}" alt="logo">
                        </figure>
                    {% endif %}
                </a>
            </div>
            <div class="level-right">
                <div class="level-item has-padding-right-medium">
                    <a class="has-text-link" href="javascript:void(0)" onClick="self.close(); return false;">{{ close_window }}</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<section id="content-wrapper">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</section>
{% endblock %}